# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Assignment3.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\HP\RiderProjects\Assignment3\.idea\.idea.Assignment3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
