@page "/"

<div align="center">
    <h1><b>Welcome to Family Register</b></h1>
    <div class="col-sm-8">
        <img alt="Featured Product" src="/images/Family.jpg"
             class="img-fluid"/>
    </div>
</div>
<br>

<p>The statistics on families contain information on place of residence (region and municipality), 
    family type (i.e. composition of the family), family size and number of children in the family.</p>

<p>
    Remember only <b>Admin</b> can add a new family register and only <b>Editor</b> can edit the details of the register.
</p>urveyPrompt Title="How is Blazor working for you?"/>